
SELECT * INTO #TBL FROM

(
SELECT dbo.RempId('004658') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006125') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006126') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006128') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006142') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006145') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006147') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006149') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006152') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006154') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006155') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006159') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006162') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006163') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006164') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006165') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006166') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006168') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006170') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006171') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006174') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006181') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006182') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006183') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006184') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006185') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006188') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006189') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006213') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006216') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006217') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006219') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006220') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006248') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006249') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006250') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006253') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006254') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006257') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006271') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006273') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006284') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006287') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006289') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006291') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006292') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006293') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006299') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006301') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006303') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006304') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006306') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006309') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006310') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006311') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006313') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006337') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006365') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006371') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006372') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006373') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006376') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006379') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006380') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006389') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006393') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006394') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006399') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006400') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006402') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006404') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006420') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006423') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006424') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006426') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006427') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006428') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006429') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006430') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006431') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006432') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006433') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006435') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006437') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006438') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006440') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006442') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006444') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006446') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006447') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006448') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006449') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006453') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006454') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006456') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006457') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006458') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006459') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006466') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006468') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006470') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006471') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006472') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006473') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006475') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006487') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006491') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006492') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006495') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006496') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006497') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006499') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006500') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006502') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006503') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006505') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006506') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006508') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006509') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006513') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006518') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006520') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006521') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006522') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006523') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006527') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006529') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006531') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006532') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006538') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006547') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006549') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006556') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006560') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006562') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006565') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006569') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006570') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006576') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006582') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006584') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006586') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006588') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006591') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006595') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006602') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006603') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006604') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006608') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006609') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006617') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006635') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006640') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006686') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006688') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006691') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006693') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006698') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006699') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006707') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006708') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006709') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006710') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006713') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006714') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006717') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006719') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006733') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006742') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006745') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006749') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006752') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006756') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006757') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006767') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006768') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006773') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006775') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006811') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006812') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006814') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006815') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006829') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006836') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006878') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006908') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006916') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006928') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006931') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('006937') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('006942') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('007271') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('007273') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('007274') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('007276') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('007287') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('007302') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('007618') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('007643') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('007697') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('007788') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('007791') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('007891') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008050') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('008108') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('008110') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008223') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('008224') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('008225') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008229') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008255') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('008291') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008292') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008311') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('008324') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008328') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('008329') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008341') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008344') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('008391') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('008398') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008401') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008409') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008477') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('008478') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('008494') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008515') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('008522') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008528') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('008534') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008536') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008565') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008653') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('008799') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('008879') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009014') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009016') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009020') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009030') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009033') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009051') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009052') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009053') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009056') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009063') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009065') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009067') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009143') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009144') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009195') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009207') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009208') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009233') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009313') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009329') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009508') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009610') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009876') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009877') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009880') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009882') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009901') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009928') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009975') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009979') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('009980') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009981') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('009984') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('010091') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('010095') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('010097') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('010098') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('010128') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('010194') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('010225') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('010227') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('010276') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('010277') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('010341') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('010399') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('010400') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('010567') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('011102') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('011111') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('011114') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('011120') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('011127') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('011128') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('011130') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('011131') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('011272') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('011534') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('011536') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('011538') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('011568') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('011655') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('011666') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('011768') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('011775') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('011796') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('011852') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('011880') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('011936') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('011943') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('012039') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('012040') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('012121') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('012165') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('012166') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('012186') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('012354') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('013235') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('013251') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('013252') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('013285') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('013286') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('013323') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('013390') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('013454') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('013491') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('013537') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('013598') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('013681') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('013845') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('013848') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('013934') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014023') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014095') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014105') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014155') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014261') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014470') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014478') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014515') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014516') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014518') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014521') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014523') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014524') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014525') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014526') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014536') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014556') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014559') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014573') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014583') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014617') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014645') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014647') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014689') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014709') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014719') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014720') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014725') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014726') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014727') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014728') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014730') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014731') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014733') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014734') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014736') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014790') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014791') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014836') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014837') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('014874') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014875') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014876') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014888') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014890') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('014992') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015026') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015059') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015061') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('015102') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015103') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015105') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015115') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015119') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015124') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015137') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('015219') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015220') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015340') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('015458') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('015459') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015515') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015516') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015517') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('015520') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015531') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('015533') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015549') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('015619') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('015621') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('015652') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('016193') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('016194') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('016197') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('016198') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('016204') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('016229') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('016285') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('016288') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('016332') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('016335') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('016336') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('017276') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('020936') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('020937') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('020984') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('027805') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('027809') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('027811') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('027813') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('027870') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('027939') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('031478') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('031479') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('031482') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('031485') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('031486') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('032242') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('032609') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('032764') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('032773') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('033163') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('033244') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('033249') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('033305') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('033313') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('033341') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('033463') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('033522') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('033567') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('033568') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036083') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036086') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('036118') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036138') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('036139') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036141') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('036194') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036195') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036196') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036197') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('036199') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036200') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('036201') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('036203') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036206') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('036207') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036262') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036294') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036295') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036296') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036297') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036298') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036399') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036400') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036402') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('036404') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036456') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036457') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('036466') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036529') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036531') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036533') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036534') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036545') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036589') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036592') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036599') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('036641') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('036684') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('040133') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('040708') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('040718') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('040721') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('040725') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('040730') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('040731') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('040734') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('040736') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('040741') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('040832') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('040833') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('040834') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('040850') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('040852') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('040883') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('040888') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('040897') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('040898') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('040998') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041001') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041003') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041005') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041006') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041007') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041008') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041015') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('041016') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041017') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('041018') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041040') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041070') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('041071') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('041072') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041073') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041112') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('041116') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041154') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041191') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041198') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('041308') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('041434') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('041447') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041448') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041480') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('041534') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041536') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('041549') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('041559') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('041560') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('044720') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('050917') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('050920') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('050923') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('051956') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('052070') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('052094') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('052479') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('052482') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('052695') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('052718') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('052821') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('052830') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('052986') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053044') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053045') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053070') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053072') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053160') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053162') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053166') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053170') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053174') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053190') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053200') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053227') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053228') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053231') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053258') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053260') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053300') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053304') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053331') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053333') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053338') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053340') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053341') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053342') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053343') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053344') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053345') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053350') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053353') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053356') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053363') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053364') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053367') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053405') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053406') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053450') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053453') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053465') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053516') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053584') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053588') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053660') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053665') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053677') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053688') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053701') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053819') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053825') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053831') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('053942') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('053948') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054003') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054007') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054072') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('054136') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('054148') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054157') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054208') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('054212') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054214') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054217') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054223') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('054228') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054279') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('054280') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('054419') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054423') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054426') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054483') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054494') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('054565') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054686') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('054687') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054693') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('054697') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054699') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054806') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054807') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('054988') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('054997') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055000') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055003') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055007') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055014') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055083') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055087') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055193') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055194') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055199') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055274') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055275') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055319') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055360') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055361') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055362') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055436') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055439') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055440') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055441') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055443') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055445') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055511') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055644') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055648') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055651') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055668') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055734') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055735') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055737') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055738') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055773') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055775') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055778') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055780') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055783') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055824') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055901') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055902') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055903') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055905') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055906') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055914') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055915') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055916') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055917') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055963') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055967') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('055968') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('055971') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('056712') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('057176') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('057291') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('057293') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('057295') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('057297') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('057298') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('057299') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('057300') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('057361') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('057366') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('057368') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('057397') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('057499') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('057502') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('057518') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('057569') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('057571') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('057609') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('057610') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('057992') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('057995') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('058341') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('058345') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('058350') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('058619') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('058629') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('058780') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('058797') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('058829') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('058839') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('058843') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('058847') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('059295') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('059297') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('059299') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('059300') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('059302') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('059305') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('059384') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('059472') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('059475') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('059493') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('059596') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('059680') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('059681') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('059683') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('059684') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('059686') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('059757') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('059776') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('059777') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('060224') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('060242') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('060251') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('060256') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('060280') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('060412') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('060486') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('060492') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('060823') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('060831') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('060837') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('061005') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('061229') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('061282') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('061527') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('061774') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('061983') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('061985') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('061990') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('062107') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('062110') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('062184') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('062191') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('062443') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('062474') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('062935') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('062939') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('062942') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('062944') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('062968') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('062975') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('063037') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('063084') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('063514') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('063815') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('064014') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('064443') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('064455') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('064771') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('064779') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('064786') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('064788') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('064790') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('064791') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('064794') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('064796') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('064984') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('064991') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065000') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065105') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065111') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065213') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('065222') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('065224') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065424') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('065426') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065427') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065428') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065616') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065621') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('065626') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('065628') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065629') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065632') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065635') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065793') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065798') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065799') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065804') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065807') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065810') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065811') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065812') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065813') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('065880') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065908') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065909') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('065914') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('065918') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('065920') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('066097') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('066103') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('066105') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('066108') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('066111') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('066170') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('066174') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('066187') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('066188') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('066236') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('066237') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('066239') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('066248') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('066316') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('066317') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('066319') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('066322') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('066350') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('066698') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('066706') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('066721') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('066871') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067085') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('067121') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067126') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('067137') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067140') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('067223') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067228') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067333') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('067336') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067337') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067339') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067340') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('067344') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067358') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('067446') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('067451') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067546') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067645') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067648') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067650') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067655') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('067742') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067753') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067855') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067861') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067895') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067896') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067897') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067933') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067935') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('067936') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('068023') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('068134') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('068135') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('068144') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('068147') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('068149') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('068150') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('068167') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('068202') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('068204') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('068222') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('068259') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('068328') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('068332') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('068513') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('069258') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('070508') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('070706') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('070956') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('071052') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('071059') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('071126') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('071128') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('071296') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('071297') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('071303') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('071311') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('071314') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('071317') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('071319') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('071426') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('071431') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('071432') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('071435') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('071532') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('071586') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('071622') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('071676') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('071807') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('071995') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072002') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('072004') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072053') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072054') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('072084') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072420') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072431') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072433') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('072437') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072440') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('072459') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072468') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072565') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072568') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072657') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072660') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072711') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072899') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072903') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('072904') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072905') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('072906') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072940') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('072942') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072946') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072949') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072995') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('072997') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073001') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073084') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073085') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073087') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073157') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073166') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073170') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073176') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073230') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073285') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073286') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073287') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073294') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073341') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073342') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073344') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073450') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073452') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073453') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073454') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073455') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073458') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073502') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073506') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073515') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073516') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073517') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073794') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073797') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073798') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073800') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073801') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073803') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073863') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('073982') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073984') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('073997') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074043') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074046') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074162') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074169') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074176') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074177') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074310') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074318') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074323') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074326') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074336') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074342') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074445') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074449') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074587') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074590') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074610') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074612') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074681') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074762') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074772') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074773') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074775') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074776') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074778') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074781') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074783') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074788') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074791') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074794') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074795') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074798') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074801') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074802') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074843') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('074928') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074948') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('074949') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075033') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('075126') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075199') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075246') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('075248') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075249') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075251') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075252') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('075253') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('075260') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075272') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075282') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075283') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('075288') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075398') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075401') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075662') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075665') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075974') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('075978') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076097') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('076103') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076107') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076108') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076191') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076200') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076202') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076295') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('076299') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076302') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('076303') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076305') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076407') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076432') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('076496') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076565') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('076715') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076822') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076853') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076882') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('076902') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('077158') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('077208') EmpId, 2 DLeave UNION ALL
SELECT dbo.RempId('077257') EmpId, 3 DLeave UNION ALL
SELECT dbo.RempId('077263') EmpId, 3 DLeave


) TBL

DECLARE EmpCursor CURSOR FOR
SELECT EmpId FROM #TBL

DECLARE @EmpId INT,
		@C INT=1

OPEN EmpCursor
FETCH NEXT FROM EmpCursor INTO @EmpId

WHILE @@FETCH_STATUS=0
BEGIN
	
	DECLARE @DLeave INT=(SELECT DLEAVE FROM #TBL WHERE EmpId=@EmpId)
	
	INSERT INTO LeaveDeduction(LeaveID,EmpID,DMonth,DYear,LateDays,DLeave,IsElPaid,DTypeId,Remarks,EntryDate)
	SELECT 3,@EmpId,4,2024,0,@DLeave,1,1,'EL Deduction For EID-UL-FITR 2024',GETDATE()

	UPDATE LeaveAllocation SET LeaveUsed=LeaveUsed+@DLeave WHERE EmpId=@EmpId AND LeaveYear=2024 AND LeaveId=3

	PRINT @C
	SET @C=@C+1
	FETCH NEXT FROM EmpCursor INTO @EmpId
END
CLOSE EmpCursor
DEALLOCATE EmpCursor

DROP TABLE #TBL